@use 'base/variables' as v;
@use 'base/mixins' as m;

.lineup {
    background-color: v.$purple;
    
    h3, 
    .dia{
        text-align: center;
        color: v.$white;
    }

    .dia {
        font-size: 3rem;
        text-transform: uppercase;
    }
}

.escenarios-contenedor {
    @include m.contenedor;
    @include m.tablet {
        @include m.grid(2, 3rem)
    }
}

.escenario {
    padding-top: 2rem;
    .nombre-escenario {
        font-size: 3rem;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
    }
}

.calendario {
    @include m.resetear-lista;

    li {
        padding: 2.5rem;
        font-weight: 700;

        span {
            font-weight: 400;
        }
    }
}

.bg-lilac {
    background-color: v.$lilac;
    li:nth-child(odd) {
        background-color: lighten(v.$lilac, 5%);
    }
}

.bg-blueBaby {
    background-color: v.$blue_baby;
    li:nth-child(odd) {
        background-color: lighten(v.$blue_baby, 5%);
    }
}